@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
*{box-sizing:border-box;margin: 0;padding: 0;}
html{
  height:100%;
}
body{
  height: 100%;
}


h1{
  font-family: 'Passion One', cursive;
  font-size:170px;
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
